<p id="notice"><%= notice %></p>

<p>
  <b>Dstr:</b>
  <%= @apple.dstr %>
</p>

<p>
  <b>Dtxt:</b>
  <%= @apple.dtxt %>
</p>

<p>
  <b>Dint:</b>
  <%= @apple.dint %>
</p>

<p>
  <b>Dflt:</b>
  <%= @apple.dflt %>
</p>

<p>
  <b>Ddec:</b>
  <%= @apple.ddec %>
</p>

<p>
  <b>Ddt:</b>
  <%= @apple.ddt %>
</p>

<p>
  <b>Dtime:</b>
  <%= @apple.dtime %>
</p>

<p>
  <b>Ddate:</b>
  <%= @apple.ddate %>
</p>

<p>
  <b>Dbin:</b>
  <%= @apple.dbin %>
</p>

<p>
  <b>Bbl:</b>
  <%= @apple.bbl %>
</p>


<%= link_to 'Edit', edit_apple_path(@apple) %> |
<%= link_to 'Back', apples_path %>
