<h3>Listing admin_collections</h3>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_collections.each do |admin_collection| %>
  <tr>
    <td><%= admin_collection.name %></td>
    <td><%= link_to 'Show', admin_collection %></td>
    <td><%= link_to 'Edit', edit_admin_collection_path(admin_collection) %></td>
    <td><%= link_to 'Destroy', admin_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collection', new_admin_collection_path %>
