<%= form_for(@object) do |f| %>
  <% if @object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@object.errors.count, "error") %> prohibited this object from being saved:</h2>

      <ul>
      <% @object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% Test3::Bike.display_columns.each do |column_name| %>
    <div class="field">
      <% if Test3::Bike.is_lut_column?(column_name) %>
        <%= f.label column_name %><br />
        <%= f.select(column_name, Test3::Bike.selection_data(column_name)) %>
      <% elsif Test3::Bike.is_foreign_key?(column_name) %>
        <!-- skip foreign keys -->
      <% else %>
        <%= f.label column_name %><br />
        <%= f.text_field column_name %>
      <% end %>
    </div>
  <% end %>

  <!-- Foreign key(s) -->
  <% Test3::Bike.foreign_keys.each do |foreign_key| %>
    <% if params[foreign_key] %>
      <!-- <%= f.hidden_field foreign_key, :value => params[foreign_key] %><br /> -->
      <%= f.label foreign_key %><br />
      <%= f.select(foreign_key, Test3::Bike.selection_data(foreign_key), :selected => params[foreign_key]) %><br />
    <% elsif @object[foreign_key] %>
      <!-- <%= f.hidden_field foreign_key, :value => @object[foreign_key] %><br /> -->
      <%= f.label foreign_key %><br />
      <%= f.select(foreign_key, Test3::Bike.selection_data(foreign_key), :selected => @object[foreign_key]) %><br />
    <% else %>
      <%= f.label foreign_key %><br />
      <%= f.select(foreign_key, Test3::Bike.selection_data(foreign_key)) %><br />
    <% end %>
  <% end %>
  <br />

<div class='field'>Numeric:     <input type="number" id="numeric" value="17" min="0" max="100" step="1" /> <br /> </div>
<div class='field'>Currency:    <input type="number" id="currency" value="30" min="0" /> <br /></div></div>
<div class='field'>Percentage:  <input type="number" id="percentage" placeholder="between 0 and 1" min="0", max="1", step="0.01" /> <br /></div>
<div class='field'>Exponencial: <input type="number" id="exp" required validationMessage="This is a required field" /> <br /></div>

<div class='field'>Phone:       <input type="tel" id="tel" name="tel" class="k-textbox" pattern="\d{3}-\d{3}-\d{4}" placeholder="nnn-nnn-nnnn" required validationMessage="Ten digit phone number"/><br></div>

<div class='field'>Datetime: <input type="datetime" id="datetimepicker" /> <br /></div>
<div class='field'>Date: 		<input type="date" id="datepicker" value="2011-03-25" /> <br /></div>
<div class='field'>Time: 		<input type="time" id="timepicker" value="10:00 AM" /> <br /></div>
<div class='field'>Month: 		<input type="month" id="monthpicker" value="November 2011" /> <br /></div>

<div class='field'>Text: 		<input type="text" id="fullname"  style="width:250px" name="fullname" class="k-textbox" placeholder="Full name" required validationMessage="Please enter {0}" /><br></div>
<div class='field'>Search: 	<input type="search" id="search" name="search" class="k-textbox" required validationMessage="Please select movie"/><br></div>
<div class='field'>Email: 		<input type="email" id="email" name="Email" class="k-textbox" placeholder="e.g. myname@example.net"  required data-email-msg="Email format is not valid" /><br></div>

<div class='field'>Richtext: <textarea id="editor" style="width:540px;height:240px"></textarea> <br /></div>
<div class='field'>Textarea: <textarea class="k-textbox">Textarea</textarea> <br /></div>
<div class='field'>Checkbox: <input type="checkbox" name="Accept" required validationMessage="Acceptance is required" /> I accept the terms and condition of service <br /></div>

<div class='field'>Weight: 	<input id="custom" value="2" /> <br /></div>
<div class='field'>URL: 			<input id="url" type="url" class="k-textbox" /> <br /></div>

<h3>T-shirt Size</h3>
  <select id="size" placeholder="Select size...">
		<option>X-Small</option>
		<option>Small</option>
		<option>Medium</option>
		<option>Large</option>
		<option>X-Large</option>
		<option>2X-Large</option>
	</select>


        <select id="multiselect" multiple="multiple" data-placeholder="Select attendees..." style="width:340px;">
            <option>Steven White</option>
            <option>Nancy King</option>
            <option>Anne King</option>
            <option>Nancy Davolio</option>
            <option>Anne Davolio</option>
            <option>Andrew Suyama</option>
            <option>Nige Buchanan</option>
            <option>Laura Fuller</option>
        </select>


<div id="climateCtrl"><input id="slider" class="temperature" /></div></div>
<div id="climateCtrl"> <div id="rangeslider" class="humidity"> <input /><input /> </div> </div>
<style> #climateCtrl { margin: 17px 10px 10px 10px; } </style>





  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<%= render 'kendo_ui_style' %>

