<h1><%= Admin::Namespace.base_class %></h1>

<script type="text/javascript">
	$(document).ready( function () {
    $('#example').dataTable();
	} );
</script>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
  <thead>
    <tr>
      <% Admin::Namespace.display_columns.each do |column_name| %>
        <th width="20%"><%=column_name.titleize%></th>
      <% end %>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @objects.each do |object| %>
      <tr>
        <% Admin::Namespace.display_columns.each do |column_name| %>
          <td>
            <% if Admin::Namespace.is_foreign_key?(column_name) %>
							<a href='<%=Admin::Namespace.find_associate_obj(column_name).object_path(object[column_name]) %>'><%= Admin::Namespace.get_final_value(column_name, object[column_name])%></a>
						<% else %>
            	<%= Admin::Namespace.get_final_value(column_name, object[column_name])%>
						<% end %>
          </td>
        <% end %>
        <td>
          <%= link_to 'Show', object %>/<%= link_to 'Edit', edit_admin_namespace_path(object)%>/<%= link_to 'Destroy', object, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table><br>
<br>

<%= link_to 'New Namespace', new_admin_namespace_path %>


